
@model IQueryable<_3012MVC.Models.KMAI>

<div id="hero">
	<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
		@foreach (var item in Model)
		{
			<div class="item" style="background-image: url('@Url.Content("~/images/khuyenmai/")@item.ANHCT'); cursor:pointer" @*onclick="window.location = '@Url.Action("KhuyenMaiPost","KhuyenMai")?id=' + @item.MAKM;"*@>
				<div class="container-fluid">
				</div><!-- /.container-fluid -->
			</div><!-- /.item -->
		}
	</div><!-- /.owl-carousel -->
</div>