
@{
	ViewBag.Title = "GuiMail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 wow fadeInRight" data-wow-delay="0.4s">
	<div class="alert alert-success">
		<h2 style="color: brown">Khôi phục mật khẩu?</h2>
		<center><h4 style="color: black">Hãy nhập email bạn đã đăng kí, FreeCode sẽ gửi đường link tạo mật khẩu mới vào email của bạn.</h4></center>
		<form action="@Url.Action("GuiMail", "QuenMatKhau")" method="post">
			<b>Email đăng nhập</b>
			<input type="email" name="EmailNhan" class="form-control" placeholder="Vui lòng nhập gmail..." required />
			<p style="color: red">@ViewBag.Status</p>
			<br />
			<center> <input type="submit" value="Lấy lại mật khẩu" class="btn btn-danger" /></center>

		</form>
	</div>
</div>

